* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considerado 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.4rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
button,
input {
  border: none;
}

a,
button {
  cursor: pointer;
}
